body {
  background-color: #00ae88;
}

h1 {
  color: rgba(1, 34, 12, 0.815);
  text-align: center;
  font-size: 60px;
}

h2 {
  color: black;
  text-align: center;
  font-size: 30px;
}

#ProjectsBlock,
#CompaniesBlock {
  border: 3px solid black;
  padding: 15px;
  width: 200px;
  background: rgb(165, 151, 105);
  background-clip: border-box;
}

.MyFaceImg {
  height: 250px;
  width: 250px;
  border-radius: 125px;
  border-style: double;
}

.CodeBlkImg {
  height: 600px;
  width: 600px;
  float: right;
}
